.DS_Store
*.bbprojectd
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
/.idea/*
/build
/captures
.externalNativeBuild
all_files.txt
fix.py
fix.java
.settings/org.eclipse.buildship.core.prefs
.project
app/.classpath
app/.settings/org.eclipse.buildship.core.prefs
app/.project
app/google-services.json
app/release
app/debug
