*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
all_files.txt
fix.py
fix.java
app/.settings/org.eclipse.buildship.core.prefs
app/.project
.settings/org.eclipse.buildship.core.prefs
.project
*.bbprojectd
app/.classpath
app/release
.idea/*
.idea/misc.xml
